/* reset general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-image: url(../img/fondo.jpeg);
    color: $color-texts;
        h1{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            text-shadow: 1px 1px 2px #b8b6b6;
            text-align: center;
            text-transform: uppercase;
            color: $color-tittles;
        }
    }


/* estilos de header */

header{
    @extend %header;
        .imgHeader{
            max-width: 5rem;
            height: auto;
        }
        .navbar-toggler{
            background-color: $bottoms-color;
        }
        .offcanvas-header{
            background-color: $menu-color;
        }
        .btn-close{
            background-color: $botton-close;

        }
        .offcanvas-body{
            background-color: $background-color-principal;
        }
        ul{
            list-style: none;
            display: flex;
            gap: 0.2rem;
            background-color: $background-color-principal;
        }
        .nav-link{
            color: $menu-color;
        }
    }

/* estilos de footer */

    .footer{
       @extend %footer;
            .enlaceFooter{
                text-decoration: none;
                    img{
                        width: 1rem;
                        text-decoration-line: none; 
                    }
            }
            .pFooter{
                font-family: 'Montserrat', sans-serif;
                font-weight: 200;
                padding-top: 1rem;
                font-size: 0.4rem;
            }
            .irArriba{
                font-size: 0.6rem;
                display: inline-block;
                background-color: rgb(199, 194, 194);
                padding: 6px 16px;
                border-radius: $border-radius;
                text-decoration: none;
                    #irArriba{
                        position: absolute;
                        top: 0;
                        text-decoration: none;
                    }
                }
    }