@import "../variables/mixin";

/* mq de desktop */

@media screen and (min-width:1024px) {
     
    /* mq estilos de header */

    header{
        nav{
            .offcanvas-body {
                gap: 1rem;
                background-color: transparent;
            } 
            ul{
                gap: 1rem;
                background-color: transparent;
            }
        }
    }


     /* mq de index  */

    .mainIndex {
            height: 65vh;
                .pIndex{
                    margin-top: 10vh;
                }
                .tituloInicio {
                    margin-top: 15vh;
                    font-size: 6rem;
                }
                .parrafoArtista {
                    margin-top: 15vh;
                    text-align: center;
                } 
        }   


/* mq de sobreMi */

.mainSobreMi{
        gap: $gap-principal;
        margin: $margin-principal;
            .imgSobreMi {
                margin-top: 1rem;
                width: 76%;
                height: auto;
            }
            .videoSobreMi {
                display: block;
                margin-top: 2rem;
                margin-bottom: $margin-bottom-principal;
                width: 59rem;
                height: 42rem;
            }
            .pArtista {
                width: 70rem;
                text-align: center;
                line-height: $line-heigth-principal;
            }
            .pSobreMiDesktop{
                display: block;
            }
    }   

    /* mq de proyectoVideos */

    .mainVideo{
            .video{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: $gap-principal;
                    .estiloVideo {
                        width: 690px;
                        height: 430px;
                    }
                }    
            }


    /* mq de proyectoImagenes */

    .mainProyectoImagenes {
            margin: $margin-secundary;
            padding: 2rem;
            line-height: $line-heigth-principal;
            text-align: center;
        }

    
    /* mq de contacto */

    .gridCaja {
        @include contacto (grid, repeat (2, 1fr), 60% 40%, center, -5rem);
        .textoContacto {
            text-align: center;
            margin-top: 4rem;
            margin-left: 10rem;
            padding: 3rem;
            height: 30rem;
            width: 36rem;
            line-height: 2.2rem;
        }
        .noTextoContacto{
            display: block;
        }
        .imgContacto {
            width: 30rem;
            height: 25rem;
            margin-top: 6rem;
            margin-left: 3.5rem;
        }
        .formulario {
            grid-column: span 2;
            padding: 3rem;
        }
    }  

    /* estilos de footer */

        .footer{
            @include footerDesktop (space-around, center, sticky, 100%, 7rem, 0);
            .pFooter {
                font-size: 0.9rem;
            }
            .enlaceFooter{
                text-decoration: none;
                    img{
                        width: 2.5rem;
                        text-decoration-line: none; 
                    }
                }
            .irArriba {
                font-size: 1rem;
                padding: 6px 16px;
                border-radius: 10px;
            }
        }


    /* estilos generales de transiciones */

    header{
        nav{
            ul{
                li{
                    &:hover {
                        border-bottom: 1px solid rgb(213, 189, 175);
                        transform: scale(0.9);
                        background-color: rgb(255, 255, 255, 0.4);
                    }
                }
            }
        } 
    }


    .tituloInicio, .tituloSobreMi, .tituloVideo, .tituloImagenes, .tituloContacto {
        transition: $transition-time-principal;
    }

    .tituloInicio:hover, .tituloSobreMi:hover, .tituloVideo:hover, .tituloImagenes:hover, .tituloContacto:hover {
        transform: scale(0.8);
        transition: $transition-time-secundary;
    }

    /* animacion de sobreMi */
    
    .imgSobreMi {
        animation-name: ani_img;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-delay: 1s;
        
                @keyframes ani_img {
                0% {
                transform: scale(1.1);
                }
                15% {
                transform: scale(1);
                }
                30% {
                transform: scale(0.9);
                }
                45% {
                transform: scale(0.8);
                }
                60% {
                transform: scale(0.9);
                }
                75% {
                transform: scale(1);
                }
                100% {
                transform: scale(1.1);
                }
            }
        }
} 