/* mq de tablets */

@media screen and (min-width:680px) {

    /* mq de main sobre mi */

    .videoSobreMi {
        display: block;
        width: 42rem;
        height: 42rem;
    }

    /* mq de proyectoVideos */

    .video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        margin-top: 1rem;
    }

    /* mq de main proyectoImagenes */

    .mainProyectoImagenes {
        padding: 1.5rem;
        line-height: 2rem;
        text-align: center;
            .textoImagenes {
                margin: 2rem;
            }

    }

    
    /* estilos de footer */

    .footer{
        .enlaceFooter{
            text-decoration: none;
        }
        .pFooter {
            font-size: 0.6rem;
        }
        .imgFooter{
            width: 1.5rem;
        }
    }
}

