$colorTittles: rgb(206, 212, 218);

$colorForm: rgb(33, 37, 41);

$backgroundColorPrincipal: rgb(0, 0, 0);

$backgroundColorHeader: rgba(0, 0, 0, 0.5);

$menuColor: rgb(255, 255, 255);

$bottonClose:  rgb(11, 11, 11, 0.5);

$bottomsColor: whitesmoke;

$colorTexts: rgb(248, 249, 250);

$marginPrincipal: 3rem;

$marginSecundary: 2rem;

$marginTopPrincipal: 4rem;

$gapPrincipal: 2rem;

$lineHeigthPrincipal: 2rem;

$marginBottomPrincipal: 2rem;

$borderRadius: 10px;

$transitionTimePrincipal: 2s;

$transitionTimeSecundary: 4s;


