$color-text-body: rgb(243, 240, 236);

$color-tittles: rgb(206, 212, 218);

$color-form: rgb(33, 37, 41);

$background-color-principal: rgb(0, 0, 0);

$background-color-header: rgba(0, 0, 0, 0.5);

$menu-color: rgb(255, 255, 255);

$botton-close:  rgb(11, 11, 11, 0.5);

$bottoms-color: whitesmoke;

$color-texts: rgb(248, 249, 250);

$form-color: black;

$bottom-nav: 1px solid rgb(213, 189, 175);

$bg-color-nav: rgb(255, 255, 255, 0.4);

$margin-principal: 3rem;

$margin-secundary: 2rem;

$margin-top-principal: 4rem;

$gap-principal: 2rem;

$line-heigth-principal: 2rem;

$margin-bottom-principal: 2rem;

$border-radius: 10px;

$transition-time-principal: 2s;

$transition-time-secundary: 4s;


