/* estilos contacto */ 


    .mainContacto{
        padding: 0.5rem;
        line-height: $lineHeigthPrincipal;
        margin: $marginPrincipal;
        text-align: justify;
            .tituloContacto{
                margin-bottom: $marginBottomPrincipal;
            }
            .noTextoContacto{
                display: none;
            }
            .imgContacto {
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
            .formulario {
                color: $colorForm;
            }
            .mensajeFormulario, .botonesFormulario {
                text-align: center;
                color: $colorTexts;
            }
    }
    
 
