/* estilos de index */

    .bodyIndex{
        background-image: url(../img/inicio.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        color: $colorTexts;
    }
    
    
    .mainIndex{
            margin: $marginPrincipal;
            text-align: center;
            color: $colorTexts;
            .pIndex{    
                color: $colorTexts;
            }
            .tituloInicio{
                margin-top: $marginTopPrincipal;
                font-size: 2rem;
            }
            .parrafoArtista{
                @extend %parrafoMain;
            }  
    }


 
