/* estilos de sobreMi */ 

.mainSobreMi{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    line-height: $lineHeigthPrincipal;
    margin: $marginPrincipal;
    text-align: justify;
        .tituloSobreMi {
            text-transform: uppercase;
            text-align: center;
        }
        .pSobreMiDesktop {
            display: none;
        }
        .videoSobreMi{
                display: none;
        }
} 
    


